<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Welcome to Login Page</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="">User Name</label>
            <input type="text" placeholder="Username" name="un"><br><br>
            <label for="">Password</label>
            <input type="text" placeholder="password" name="pw"><br><br>
            <input type="submit" value="Login">
        </form>
    </center>
</body>
</html>